@font-face {
    font-family: 'Proxima-Font';
    src: url(font/PNA-LIGHT.otf);
}

body{
	width: 100%
	max-width:1000px;
	background-color: #f7f7f7;
	font-family: 'Proxima-Font';
    font-size: 16px;
    text-align: center;
	color: #5d5d5d;
	margin: auto;
}

.box{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

h1, h5, h4, nav ul a {
    color: #F45828 !important;

}

h5, .title, a{
    font-size: 20px !important;;
    color: #F45828 !important;
    font-weight: 500;
}

a {
    font-size: 14px !important;
}

#name-title{
    margin: 5px !important;
}
/*mobile resposive navigation*/
nav .button-collapse {
   	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}


.brand-logo img{
	width: 90px;
	height: 90px;
	margin-top: 5px;
}

nav{
	background-color: #FFF;
    height: 100px;
    font-size: 10px;
}
nav li  {
    transition: background-color .3s;
    font-size: 14px;
    color: #f36c3f;
    display: block; 
/*    padding: 0 15px;*/
    cursor: pointer;
    font-weight: bold;
}

nav ul a {
    transition: background-color .3s;
    font-size: 14px;
    color: #f36c3f;
    display: block; 
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

nav ul a:hover{
	text-decoration: underline;
    color: #f36c3f;
    background-color: #FFF;
}

.navlinks {
	text-decoration: none;
	font-size: 22px;
	color: black;
	padding-top: 20px;
}


#imgHeader img{
  width: 100%;
  height: auto;
}

#imgHeader{
	margin-top:-13px;
	padding:0px;
}

.indexH2Tomato{
	font-size: 35px;
	color: #f36c3f;
	font-weight: bold;
}

/*.iconSections{
	padding: 10px;
	margin: 10px;
	min-height: 500px;
}*/

.indexH2Grey{
	font-size: 27px;
	color: #5d5d5d;
	font-weight: bold;
}

/*RESPONSIVE IMAGES*/
.resp img{
	width: 100%;
	height: auto;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #b3b3b3;
}

footer.text{
	color: #FFF !important;
	font-weight: bold;
	word-spacing: 100px;
	text-align: center;	
	font-size: 15px;
}

.icons li {
    display: inline-block;
    width: 48px;
    height: 48px;

}

/*#ig {
    background:url(../images/socialMedia_10.png) no-repeat center center;
    background-size: cover; 

}

#linkedin {
    background:url(../images/socialMedia_05.png) no-repeat center center;
    background-size: cover; 

}

#facebook {
    background:url(../images/socialMedia_07.png) no-repeat center center;
    background-size: cover; 

}

#twitter {
    background:url(../images/socialMedia_12.png) no-repeat center center;
    background-size: cover; 

}*/


/*==================================Profile Style====================================*/

h4, {
	color: #f36c3f !important;;
}
.profile {
	background-color: white !important;
}
.card-title {
	color: #F45828;
}
.card {
	border-radius: 5px;
	background-color: #F7F7F7 !important;
	height: 100%;
}

.btn {
	background-color: #4F9938;
}

.career-nav{
	font-size: 12px;
	
}

#cardShort {
	max-height: 400px;
	min-height: 400px
}

#cardLong {
	min-height: 822px !important;
}

/*.input-field label {
	font-size: 14px;
	color: black !important;
	position: initial !important;
	font-weight: none !important;
}
input{
	background-color: black !important;
}*/

/*==========================TABS==========================*/

