@font-face {
    font-family: 'Proxima-Font';
    src: url(font/PNA-LIGHT.otf);
}

body{
	width: 100%
	max-width:1000px;
	background-color: #fff !important;
	font-family: 'Proxima-Font';
    font-size: 16px;
    text-align: center;
	color: #5d5d5d;
	margin: auto;
}

.box{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
/*================================Master Style================================*/
h2, nav ul a, a, .title, .card-title, #badge, #CL, p{color: #F45828 !important;}

ul li, #page-title {color: #5d5d5d;}

.btn {background-color: #4F9938;}

.btn-large{
    background-color: #F45828 !important;
    color: #fff !important;
}

.title, h2, nav ul a, a {
    color: #F45828 !important;
    font-size: 20px !important;
    font-weight: 500;
}

h3{font-size: 18px;}

a {font-size: 14px !important;}

h2, h1 {
    letter-spacing: 2px;
    line-height: .8em;
}

ul li {
    letter-spacing: .5px;
    color: #5d5d5d;
}
/*================================Logo Style================================*/
#logo{
  width: 100%;
  height: auto;
}

#logo img{
    margin-top: 12px;
    padding:0px;
}
/*================================CARD CONTENT================================*/
.card {
    border-radius: 5px;
    background-color: #F7F7F7 !important;
    height: 100%;
    width: 100%;
}

.card .card-content a {
    bottom: 0px !important;
    
}
/*controls card height*/
#card-short {
    max-height: 422px;
    min-height: 422px;
}

#card-long {
    min-height: 850px !important;
}

#card-transparent{
    background-color: transparent !important;
    border: solid 0px transparent !important;
    box-shadow: none !important;
}

div .wrapper{
    min-height: 300px !important;
    margin:0;
    padding: 0px;
}

/*card title styling*/
.card-title, h1{
    margin-top: 4px;
    font-size: 30px;
    font-weight: none !important;
}

#name-title{
    margin: 5px !important;
    font-weight: 400;
}

#page-title {
    margin-bottom:1px;
}

/*======================mobile resposive navigation========================*/
nav .button-collapse {
   	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

/*RESPONSIVE IMAGES*/
.resp img{
    width: 100%;
    height: auto;
}

.brand-logo img{
	width: 90px;
	height: 90px;
	margin-top: 5px;
}

nav{
	background-color: #FFF;
    height: 100px;
    font-size: 10px;
}
nav li  {
    transition: background-color .3s;
    font-size: 14px;
    color: #f36c3f;
    display: block; 
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

nav ul a {
    transition: background-color .3s;
    font-size: 18px !important;
    letter-spacing: .5px;
    color: #f36c3f;
    display: block; 
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul a:hover{
	text-decoration: underline;
    color: #f36c3f;
    background-color: #FFF;
}

.navlinks {
	text-decoration: none;
}

#ul-menu-list{
    padding-top: 25px !important; 
    overflow: hidden;
    height: auto;

}

nav ul a {
    overflow: hidden;
    height:50px;
}
/*================================FOOTER================================*/
footer{
    color: #fff;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #b3b3b3;
}

footer.text{
	color: #FFF !important;
	font-weight: bold;
	word-spacing: 100px;
	text-align: center;	
	font-size: 15px;
}

.icons li {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 10px 40px;
}

.container-footer{
    width: 100%;
    margin:auto;
}

.journal-modal, .careergoals-modal{
    width: 90%;
    height: 100%;
  /*  overflow: hidden;*/
    min-width: 500px !important;
    min-height: 900px !important;
    margin-bottom: 5%;

}

.careergoals-modal input, .journal-modal{
    margin-bottom: 8px;
    height: 2rem
}