@font-face {
    font-family: 'Proxima-Font';
    src: url(font/PNA-LIGHT.otf);
}

body{
	background-color: #f7f7f7;
	font-family: 'Proxima-Font';
    font-size: 18px;
    text-align: center;
	color: #5d5d5d;

}

/*MOBILE RESPONSIVE NAV*/
nav .button-collapse {
   	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

/*LOGO*/
.logoimg{
	width: 90px;
	height: 90px;
	margin-top: 5px;
}

/*NAVIGATION*/
nav{
	background-color: #FFF;
    height: 100px;
}

nav ul a {
    transition: background-color .3s;
    font-size: 18px;
    color: #f36c3f;
    /* display: block; */
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

nav ul a:hover{
	text-decoration: underline;
    color: #f36c3f;
    background-color: #FFF;

}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}


.navLinks{
	padding-top: 20px;
}

/*NAV MODALS*/
.navModals {
    overflow: hidden;
    width: 500px;
	height: auto;
}

.navModals p {
color: #9d9d9d;
line-height: 20px;
padding-left: 30px;
padding-right: 30px;
margin-top: 25px;
}

.navModals b{
	font-weight: bold;
	color: #f36c3f;
}

.navModals a:link {
text-decoration: none;
}

.signupHover:hover{
	color: #f36c3f;
}

.navModalsLinks:hover {
text-decoration: none;
color: #FFF;
}

.btnsize{
    font-size: 16px;
    line-height: 16px;
    padding-top: 12px;
    width: 75%;	
}

.closeBTN{
	color: #000;
	padding-right: 10px;
		
}

.hrLine{
	border-right-width: 1px;
	border-right-color: #5d5d5d;
	border-right-style: solid;
}

input#email.validate{
	 border: 1px solid #979797;
	 width: 75%;
}

input#password.validate{
	 border: 1px solid #979797;
	 width: 75%;
}

.formCont input{
	border: 1px solid #979797;
    width: 75%;
}

label {
    font-size: 18px;
    color: #5d5d5d;
    float: left;
    margin-top: -35px;
    position: absolute;
}

form.formCont.col.s12.m12{
    width: 93%;
    margin: 0px auto;
    margin-left: 14px;
}

.requiredLogin{
    margin-top: -37px;
    margin-right: 62px;
    font-size: 14px;
}

/*.bannerButton{
	position: absolute;
	float: right;
}*/

/*COLORS*/
.tomato{
	color: #f36c3f;
}

.tomatoBG{
	background-color: #f36c3f;
}

.darkGrey{
	color: #5d5d5d;
}

.mediumGrey{
	background-color: #b3b3b3;
}
/*LOGO*/

.logo{
	float: left;
	position: relative;
	height: 95px;
	width: 95px;
}

.whiteText{
	color:#f5a68c;
	font-size: 20px;
	font-weight: bold;
}

/*HEADERS IMG AND FONTS*/
.indexHeader {
    color: #f36c3f;
    font-weight: bold;
}

.indexH2Tomato{
	font-size: 35px;
	color: #f36c3f;
	font-weight: bold;
}

.indexH2Grey{
	font-size: 27px;
	color: #5d5d5d;
	font-weight: bold;
}

#veteransHeaderOne img{
  width: 100%;
  height: auto;
}

#veteransHeaderOne{
	margin-top:-13px;
	padding:0px;
}

#veteransHeaderTwo{
	margin-top:-13px;
	padding:0px;
}

#veteransHeaderTwo img{
  width: 100%;
  height: auto;
}

#companiesHeaderOne{
	margin-top:-13px;
	padding:0px;
}

#companiesHeaderOne img{
  width: 100%;
  height: auto;
}

#companiesHeaderTwo{
	margin-top:-13px;
	padding:0px;
}

#companiesHeaderTwo img{
  width: 100%;
  height: auto;
}

/*SECTIONS*/
.iconSections{
	padding: 10px;
	margin: 10px;
	min-height: 600px;
	width: 235px;
}

.containerIcons{
	width: 990px;
	height: 490px;
	margin: 0 auto;
/*	background-color: red;*/
}

.containerIcons img{
	height: 245px;
	width: 245px;
}

.skillCont{
	float: left;
	width: 192px;
	height: 192px;
}


.skillCont img{
	width: 172px;
	height: 172px;
	border-style: solid;
	padding: 10px;

}

.partners{
	height: auto;
}

.partners img {
    height: 80px;
    padding-right: 32px;
}

.companies{
	height: auto;
}

.companies img {
    height: 80px;
    padding-right: 32px;
}

.seventyFiveWidth {
    width: 95%;
    margin: 0 auto;
}

.socialIcons img{
	width: 40px;
	margin-right: -50px;
}

.socialIcons{
	margin: 0 auto;
}


/*RESPONSIVE IMAGES*/
.resp img{
	width: 100%;
	height: auto;
}


/*FOOTER*/
footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #b3b3b3;
}

footer.text{
	color: #FFF;
	font-weight: bold;
	word-spacing: 100px;
	text-align: center;	
	font-size: 15px;
}


/*.socialMediaIcons{
	margin: 0 auto;
	padding-right: 20px;
}

.socialMediaIcons img{
	width: 178px;
	height: 178px;
}*/
